[submodule "XiangShan"]
	path = XiangShan
	url = git@github.com:xiaoxinlovead/XiangShan.git
	branch = v2r2_20250615
[submodule "nexus-am"]
	path = nexus-am
	url = git@github.com:xiaoxinlovead/nexus-am.git
[submodule "NutShell"]
	path = NutShell
	url = git@github.com:xiaoxinlovead/NutShell.git
	branch = jiagedaqi
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = https://github.com/OpenXiangShan/DRAMsim3.git
[submodule "keystone"]
	path = keystone
	url = git@github.com:xiaoxinlovead/keystone.git
	branch = jiagedaqi
[submodule "NEMU-2026.03.r3"]
	path = NEMU-2026.03.r3
	url = git@github.com:xiaoxinlovead/NEMU.git
	branch = jiagedaqi
